<div>
  <h3><strong>Product</strong>: {{product?.product_name}}</h3>
  <p><strong>Barcode: </strong>{{product?.barcode}}</p>
  <p><strong>Quantity: </strong>{{product?.quantity}}</p>
  <p><strong>Packaging: </strong>{{product?.packaging}}</p>
  <p><strong>Brands: </strong>{{product?.brands}}</p>
  <p><strong>Categories: </strong>{{product?.categories}}</p>
  <p><strong>Status: </strong>{{product?.status}}</p>
  <p><strong>More Information in </strong><a style="color: white" href="{{product?.url}}"
                                             target="_blank">{{product?.url}}</a></p>
</div>
