.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  word-break: break-word;
  margin-bottom: 100px;
  margin-top: 64px;
}

.image-style {
  height: 50%;
  max-height: 150px;
  max-width: 100px;
}

.mat-card-image{
  margin: 0 !important;
}

.card {
  width: 100px;
  height: 150px;
  padding: 0;
  max-height: 150px;
  max-width: 100px;
  margin: 5px;
}


