.footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #e5e5e5;
  color: black;
}

.footer .footer-group {
  font-size: 1.5rem;
  font-weight: 300;
}

